version: '3.7'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    restart: always

  kafka:
    image: wurstmeister/kafka
    restart: always
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "input-text:5:1"
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ADVERTISED_PORT: 9092
    volumes:
      - kafka_data:/kafka

  connect:
    image: strangesast/core_connect
    restart: always
    build:
      context: kafka/connect

  kafka-streams:
    image: strangesast/core_kafka-streams
    restart: always
    build:
      context: kafka/streams
    environment:
      - KAFKA_HOSTS=kafka:9092
      - STREAMS_APPLICATION_ID=streams-monitoring

  connector0:
    image: strangesast/core_connector
    restart: always
    build:
      context: machines
    environment:
      - MACHINE_ID=hardinge-gx1600
      - KAFKA_HOSTS=kafka:9092
      - ADAPTER_HOST=adapter0:7878
    depends_on:
      - 'kafka'

  adapter0:
    image: strangesast/mtconnect-adapter
    restart: always
    volumes:
      - ./adapter0.ini:/adapter.ini

  connector1:
    image: strangesast/core_connector
    restart: always
    build:
      context: machines
    environment:
      - MACHINE_ID=samsung-sl45
      - KAFKA_HOSTS=kafka:9092
      - ADAPTER_HOST=adapter1:7878
    depends_on:
      - 'kafka'

  adapter1:
    image: strangesast/mtconnect-adapter
    restart: always
    volumes:
      - ./adapter1.ini:/adapter.ini

  connector2:
    image: strangesast/core_connector
    restart: always
    build:
      context: machines
    environment:
      - MACHINE_ID=doosan-2600sy
      - KAFKA_HOSTS=kafka:9092
      - ADAPTER_HOST=adapter2:7878
    depends_on:
      - 'kafka'

  adapter2:
    image: strangesast/mtconnect-adapter
    restart: always
    volumes:
      - ./adapter2.ini:/adapter.ini

  connector3:
    image: strangesast/core_connector
    restart: always
    build:
      context: machines
    environment:
      - MACHINE_ID=doosan-gt2100m
      - KAFKA_HOSTS=kafka:9092
      - ADAPTER_HOST=adapter3:7881
    depends_on:
      - 'kafka'

  adapter3:
    image: strangesast/mtconnect-adapter
    restart: always
    volumes:
      - ./adapter3.ini:/adapter.ini

  connector4:
    image: strangesast/core_connector
    restart: always
    build:
      context: machines
    environment:
      - MACHINE_ID=samsung-mcv50
      - KAFKA_HOSTS=kafka:9092
      - ADAPTER_HOST=adapter4:7882
    restart: always
    depends_on:
      - 'kafka'

  adapter4:
    image: strangesast/mtconnect-adapter
    restart: always
    volumes:
      - ./adapter4.ini:/adapter.ini

  timeclock:
    image: strangesast/core-timeclock
    restart: always
    build:
      context: timeclock
    volumes:
      - ./timeclock-config.ini:/app/config.ini

  server:
    image: strangesast/core_server
    restart: always
    build:
      context: server
    environment:
      NODE_CONFIG: '{"secret":"secretSECRETsecretSECRETsecretSECRET", "port": 80, "postgres": {"connectionString": "postgres://postgres:password@postgres:5432/production"}}'

  # main angular application
  client:
    image: strangesast/core_client
    restart: always
    build:
      context: client

  # graphql server
  graphql-engine:
    image: hasura/graphql-engine
    restart: always
    ports:
    - "8080:8080"
    environment:
      HASURA_GRAPHQL_DATABASE_URL: "postgres://postgres:password@postgres:5432/production"
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: "anonymous"
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: "startup, http-log, webhook-log, websocket-log, query-log"
      HASURA_GRAPHQL_ENABLED_APIS: "metadata, graphql, pgdump"
      HASURA_GRAPHQL_ADMIN_SECRET: secretSECRETsecretSECRETsecretSECRET
      HASURA_GRAPHQL_JWT_SECRET: '{"type": "HS256", "key": "secretSECRETsecretSECRETsecretSECRET"}'

  hasura-metadata:
    image: hasura/graphql-engine:latest.cli-migrations-v2
    volumes:
      - ./hasura/migrations:/hasura-migrations
      - ./hasura/metadata:/hasura-metadata
    environment:
      HASURA_GRAPHQL_DATABASE_URL: "postgres://postgres:password@postgres:5432/production"

  # database
  postgres:
    restart: always
    image: postgres
    volumes:
      - ./sql/:/docker-entrypoint-initdb.d/
      - db_data:/var/lib/postgresql/data
    environment:
      - DATABASE_NAME=production
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - "8081:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin
      - PGADMIN_DEFAULT_PASSWORD=password
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  db_data:
    external: true
    name: core_db_data
  kafka_data:
    external: true
    name: core_kafka_data
  pgadmin_data:
